body {
  width: 100%;
  margin: 0%;
  box-sizing: border-box;
}

p {
  color: #6e7992;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
}

.bell {
  position: relative;
  background: #E08213;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  left: 12rem;
  justify-content: center;
  padding: 0.5em;
}

.bell img {
  width: 1000px;
  height: 15px;
  color: blue;
}

.text {
  position: relative;
  color: #6E7992;
  font-family: Inter;
  font-size: 1rem;
  text-align: center;
  line-height: 28px;
  margin: 10rem 0 1rem 0;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0.5rem 2rem;
  top: 0;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu {
  position: absolute;
  float: right;
  right: 0;
  display: block;
  padding: 1rem;
  z-index: 1;
  top: 0;
}

nav a {
  text-decoration: none;
  color: #152b5b;
}

nav ul > li {
  display: none;
  font-weight: 400;
  text-decoration: none;
  line-height: 19px;
  padding: 0.5rem 0;
  font-family: Inter;
}

.logo {
  height: 30px;
  width: 70px;
}

nav .btn {
  border-radius: 4px;
  color: #fff;
  background: #f88f2f;
  padding: 0.5rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.hero-img {
  position: absolute;
  width: 60vw;
  height: 30vh;
  left: 4rem;
  z-index: 1;
}

.btn-hero {
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  background: #f88f2f;
  padding: 1rem 2rem;
}

.hero-left {
  z-index: 1;
  padding: 2rem 1rem;
  background-color: #fff;
}

.hero .dots {
  left: 15rem;
}

.hero-right {
  position: relative;
  right: 1rem;
  width: 100vw;
  padding: 5rem 2rem;
}

.bg {
  position: absolute;
  height: 45vh;
  right: 0;
  z-index: -1;
  left: 0;
  width: 100vw;
  top: 0;
}

.dots {
  position: relative;
  left: 100px;
  top: 0px;
  z-index: 1;
}

.sub {
  font-family: Inter;
  font-weight: 200;
  font-size: 10px;
  color: #6E7992;
  color: red;
}

.more {
    color: #E08213;
    font-size: 14px;
}

.check-wrap {
  display: block;
}
.check-wrap p {
  display: inline-block;
  width: 10rem;
}
.check {
  font-size:1.5rem; color:green;
  margin: 0.4rem 0 0 0 ;
}

.all-access {
  position: relative;
  top: 5rem;
  z-index: 1;
  height: 100vh;
}

.all-access .text {
  position: relative;
  top: 0rem;

}

.all-access .title {
  left: 0;
  font-size: 2rem;
  line-height: 0;
  color: #152b5b;
}

.all-access .all-access-img {
  width: 20rem;
}

.all-access .dots {
  position: absolute;
  left: 0;
}

.all-access p {
  right: 6rem;
  font-family: Inter;
  font-size: 1rem;
}

.all-access li {
  color: #6e7992;
  list-style-image: -webkit-image-set();
}

.tutors {
  position: relative;
  padding: 1rem;
  text-align: center;
  color: #152b5b;
  top: 2rem;
}

.tutors .text {
  display: flex;
  justify-content: space-around;
  text-align: left;
  top: -10rem;
}

.tutors img {
  margin: 1rem 0;
  border: 1px solid #000000;
  padding: 1rem;
  height: 50px;
  border-radius: 5px;
  width: 100px;
}

.learn-pace .all-access-img {
  position: absolute;
  width: 20rem;
  height: 15rem;
  right: 0;
  border-radius: 4px;
}

.personal_tutor .dots {
  position: absolute;
  right: 10rem;
  top: 180rem;
}

.personal_tutor .text {
  position: relative;
  line-height: 28px;
  top: 6rem;
}

.personal_tutor .personal-tutor-img {
  position: relative;
  top: 4rem;
  width: 20rem;
  height: 15rem;
  left: 0;
  border-radius: 4px;
}

.rate {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 62rem;
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  z-index: 1;
}

.rate .numbers {
  left: 738px;
  top: 4008px;
  font:500 1.5rem Inter;
  color: #152b5b;
}

.take-class {
  position: relative;
  width: 100vw;
  padding: 0.5rem 0 0 0;
  top: 20rem;
  text-align: center;
  background: #081b32;
  color: #fff;
}

.take-class .text {
  font: 200 1.5rem Inter;
  padding: 0;
  top: -9rem;
  color: #f5f5f5;
  text-align: center;
  z-index: 1;
}

.take-class .btn {
  position: absolute;
  background: #24a3ff;
  border-radius: 8px;
  color: #ffffff;
  font-family: Oxygen;
  top: 8rem;
  left: 10rem;
  padding: 0.5rem 1.5rem;
}

.quot {
  padding: 1rem;
  text-align: left;
  display: inline-block ;
  color: #6E7992;
}

.quot-img {
  width: 4rem;
  height: 4rem;
}

.testimonials .review {
  font: 600 1rem Inter;
  padding-left: 1rem;
  z-index: 1;
}

.text-wrap {
  position: relative;
  width: 100vw;
  left: 0%;
  right: 0%;
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  z-index: 1;
  color: #6e7992;
  font-family: Inter;
  font-size: 14px;
}

footer {
  padding: 3rem 0 3rem 3rem;
  text-align: justify;
  position: relative;
  top: 300px;
  color: #6e7992;
  background: #fafafa;
}

footer .courses-products {
  position: absolute;
  width: 108px;
  height: 28px;
  left: 448px;
  top: 4880px;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {

  /* Common style */

  .title {
    color: #152B5B;
  }

  p {
    color: #6e7992;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
  }

  .text {
    position: absolute;
    text-align: left;
    width: 30vw;
  }

  /* End */

  header {
    padding: 2em 6em 0.5rem 6em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 50px;
    width: 100px;
    float: left;
  }

  .menu {
    display: none;
  }

  nav a {
    text-decoration: none;
    color: #152b5b;
  }

  nav ul > li {
    display: inline;
    font-weight: 400;
    text-decoration: none;
    line-height: 19px;
    padding: 0.5rem;
    font-family: Inter;
  }

  nav {
    justify-content: space-between;
  }

  nav .btn {
    border-radius: 4px;
    color: #fff;
    background: #f88f2f;
    padding: 0.5rem 1rem;
  }

  .hero {
    display: flex;
    position: relative;
  }

  .hero .dots {
    left: 1200px;
    top: 10rem;
    border: none;
  }

  .hero-left {
    z-index: 1;
    background-color: transparent;
    padding: 0;
  }

  .hero-right {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 0;
  }

  .hero .title {
    position: absolute;
    width: 481px;
    height: 165px;
    left: 6rem;
    top: 150px;
    font-family: Inter;
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
  }

  .hero-text {
    position: absolute;
    width: 377px;
    height: 60px;
    left: 6rem;
    top: 340px;
    font-family: Apercu;
    font-size: 21px;
    line-height: 25px;
    color: #6e7992;
  }

  .btn-hero {
    position: absolute;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background: #f88f2f;
    padding: 1rem 2rem;
    top: 420px;
    left: 6rem;
  }

  .hero-img {
    position: absolute;
    width: 580px;
    height: 505px;
    right: 6rem;
    left: 680px;
    top: 100px;
    z-index: 1;
  }

  .bg {
    position: absolute;
    width: 956px;
    height: 494px;
    right: 0;
    left: 410px;
    top: 0;
  }

  .dots {
    position: absolute;
    z-index: 1;
    width: 7rem;
    height: 5rem;
  }

  .bell {
    background: #E08213;
    display: flex;
    align-items: left;
    left: 0rem;
  }

  .bell img {
    width: 15xp;
    height: 15px;
  }

  .sub {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #6E7992;
  }

  /* Tutors */

  .tutors {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    top: 5rem;
    color: #152b5b;
  }

  .tutors p {
    text-align: left;
  }

  .tutors h2 {
    text-align: left;
  }

  .tutors .text {
    display: flex;
    justify-content: space-around;
    width: 65vw;
  }

  .tutors .img {
    margin: 0 3rem 0 0;
    width: 8vw;
    padding: 0.5rem 1.5rem;
    height: 8vh;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 9px;
  }

  .tutors .img-wrap {
    position: relative;
    top: 250px;
    display: flex;
    margin: 0 auto;
  }

  /* All access */

  .all-access {
    position: relative;
    top: 25rem;
  }

  .all-access .text {
    left: 50rem;
  }

  .all-access p {
    width: 26rem;
    right: 6rem;
  }

  .all-access li {
    color: #6e7992;
    list-style-type: style;
  }

  .all-access .bg {
    position: absolute;
    width: 466px;
    height: 432px;
    left: 103px;
    background: #f7fcff;
    border-radius: 6px;
    z-index: 0.4;
  }

  .all-access .all-access-img {
    position: absolute;
    width: 423px;
    height: 312px;
    left: 226px;
    border-radius: 4px;
    z-index: 1;
  }

  .all-access .dots {
    left: 160px;
    top: 263px;
  }

  .all-access .title {
    left: 711px;
  }

  .check-wrap {
    display: block;
  }
  .check-wrap p {
    display: inline;
  }
  .check {
    font-size:1.5rem; color:green;
    margin: 0.4rem 0 0 0 ;
  }

  /* Learning Pace */

  .learn-pace {
    position: relative;
    top: -10rem;
  }

  .learn-pace .text {
    left: 6rem;
    top: -5rem;
  }

  .learn-pace .bg {
    position: absolute;
    width: 466px;
    height: 432px;
    left: 48rem;
    background: #f7fcff;
    border-radius: 6px;
  }

  .learn-pace .all-access-img {
    position: absolute;
    width: 423px;
    height: 312px;
    right: 226px;
    border-radius: 4px;
  }

  .learn-pace .dots {
    position: absolute;
    left: 1000px;
    top: 263px;
    z-index: 1;
  }

  /* Personal tutor */

  .personal_tutor {
    position: relative;
    top: 40rem;
  }

  .personal_tutor .dots {
    left: 13rem;
    top: 40vh;
  }

  .personal_tutor .bg {
    position: absolute;
    width: 35vw;
    height: 70vh;
    top: 1rem;
    left: 8rem;
    background: #f7fcff;
    border-radius: 6px;
  }

  .personal_tutor .personal-tutor-img {
    position: absolute;
    width: 25rem;
    height: 18rem;
    left: 15rem;
    border-radius: 4px;
  }

  .personal_tutor .text {
    line-height: 28px;
    top: 10rem;
    left: 45rem;
  }

  /* Testimonials */

  .testimonials {
    padding: 4rem;
    color: #081b32;
    position: relative;
    top: 45rem;
  }

  .testimonials .review {
    padding-left: 10rem;
  }

  .testimonials .bg {
    position: absolute;
    right: 0%;
    top: 63.08%;
    bottom: 23.05%;
    height: 450px;
    width: 60vw;
  }

  .testimonials .img {
    position: absolute;
    width: 290px;
    height: 372px;
    right: 200px;
  }

  .text-wrap {
    position: absolute;
    left: 17.13%;
    right: 51.98%;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    z-index: 1;
    color: #6e7992;
    font-family: Inter;
    line-height: 23px;
    font-size: 14px;
  }

  .text-wrap h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .testimonials .caption {
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    color: #6e7992;
    z-index: 1;
  }

  /* Rate */

  .rate {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: 105rem;
    width: 80vw;
    margin: 0 auto;
    z-index: 1;
  }

  .rate .numbers {
    width: 128px;
    height: 36px;
    left: 738px;
    top: 4008px;
    font-family: Inter;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 36px;
    color: #152b5b;
  }

  /* Take class */

  .take-class {
    position: absolute;
    width: 80vw;
    padding: 5rem 0;
    top: 240rem;
    left: 10rem;
  }

  .take-class .text {
    font: 200 1.5rem Inter;
    left: 20rem;
    padding: 0;
    z-index: 1;
  }

  .take-class .btn {
    top: 6rem;
    left: 29rem;
    padding: 0.5rem 1.5rem;
  }

  /* Footer */

  footer {
    padding: 3rem 0 3rem 0;
    position: relative;
    top: 100rem;
    display: flex;
    justify-content: space-evenly;
    color: #6e7992;
    background: #fafafa;
  }

  footer .courses-products {
    position: absolute;
    width: 108px;
    height: 28px;
    left: 448px;
    top: 4880px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6e7992;
  }
}
